body,
html {
    height: 100%;
    width: 100%;
}
body {
    font-size: 14px;
    font-family: "Arial", sans-serif;
    line-height: 20px;
    margin: 0;
}
header {
    padding: 0 20px 20px 20px;
}
section {
    padding: 0 20px 40px 20px;
}
.field-group {
    padding: 5px 5px 5px 150px;
    overflow: hidden;
}
label:first-child {
    color: #707070;
    float: left;
    margin-left: -145px;
    padding: 5px 0 0 0;
    text-align: right;
    width: 130px;
}
.field-group[dir="rtl"] {
    padding-left: 0;
    padding-right: 150px;
}
.field-group[dir="rtl"] label:first-child {
    float: right;
    margin-left: 0;
    margin-right: -145px;
    text-align: left;
}
.note {
    color: #999;
    margin: 0;
}

.standard {
    background: #f2f2f2;
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:    -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:     -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:      -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:         linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
    border: 1px solid #ccc;
    border-radius: 3.01px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: normal;
    height: 2.1428571428571em; /* 30px - using ems so the fields increase in line with user specified font-sizes */
    line-height: 1.4285714285714;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: baseline;
    white-space: nowrap;
}
.button {
    background:#3068a2;
    background:-webkit-linear-gradient(top,#4687ce 0,#3068a2 100%);
    background:linear-gradient(to bottom,#4687ce 0,#3068a2 100%);
    border:1px solid #486582;
    border-radius:3.01px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-family:inherit;
    font-size:14px;
    -webkit-font-smoothing:antialiased;
    font-variant:normal;
    font-weight:700;
    height:2.1428571428571em;
    line-height:1.4285714285714;
    margin:0;
    padding:4px 10px;
    text-decoration:none;
    text-shadow:0 1px 0 #205081;
    vertical-align:baseline;
    white-space:nowrap
}

.button::-moz-focus-inner {
    border:0;
    padding:0;
}

.button:hover,
.button:focus {
    background:#3673B5;
    background:-webkit-linear-gradient(top,#5A94D3 0,#3673B5 100%);
    background:linear-gradient(to bottom,#5A94D3 0,#3673B5 100%);
    border-color:#205081;
    color:#fff;
    text-shadow:0 1px 0 #205081
}
.button:active {
    background:#3673B5;
    background-image:none;
    background-color:#3673B5;
    box-shadow:inset 0 3px 6px rgba(0,0,0,.1);
    text-shadow:none;
    text-decoration:none
}


input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px #ddd;
    color: #333;
    font-size: inherit;
    height: 30px;
    margin: 0;
    padding: 4px 5px;
    vertical-align: baseline;
}
input[type=text]:focus {
    border-color: #707070;
    outline: none;
}

@media all and (max-width : 480px) {
    .field-group {
        padding-left: 5px;
    }
    label {
        display: block;
        float: none;
        margin-left: 0;
        padding: 5px 0;
        text-align: left;
        width: auto;
    }
    .field-group[dir="rtl"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    .field-group[dir="rtl"] label {
        float: none;
        margin-right: 0;
        text-align: right;
    }

    .ffi {
        height: 30px;
    }
    .ffi[data-ffi-value] {
        height: 60px;
    }
    .ffi:before {
        border-left: none;
        border-top: 1px solid #ccc;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        text-align: center;
        width: auto !important;
    }
    .ffi[data-ffi-value]:before {
        border-top: 1px solid #ccc;
    }
}